/** {
    border: 1px solid red;
}*/

body {
    box-sizing: border-box;
    max-width: 900px;
    margin: auto;
}

#main,
#pro {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px;
    text-align: center;
    margin: auto;
}

#viewing > button {
    padding: 20px;
    background-color: white;
    cursor: pointer;
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 250px;
}

h2 {
    margin: 10px;
}

form {
    /*max-width: 500px;*/
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

input,
label {
    padding: 5px;
    margin: 2% 0;
    width: 45%;
    flex-grow: 1;
}

ul,
#admin {
    text-align: center;
    padding: 0;
    /*width: 100%;*/
}

ul,
form,
#admin,
#viewing {
    flex-grow: 1;
    max-width: 45%;
    margin: auto;
}

li {
    list-style-type: none;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    box-sizing: border-box;
    border-width: 2px;
    border-style: outset;
    border-radius: 20px;
    /*height: 400px;*/
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    /*width: 100%;*/
}

#admin {
    margin: 0 50px auto;
    /*padding: 0 20px;*/
    max-width: 25%;
    max-height: 25%;
}

.hide {
    display: none;
}

input[type='submit'],
input[type='button'] {
    cursor: pointer;
}
